/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Martel:wght@900&display=swap');

/* Main Section */
body {
    background-color: #e3ebee;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #1a4752;
}

.brand {
    font-family: 'Martel', serif;
    font-size: 2.7rem;
    font-weight: 900;
    color: #1a4752;
    padding: 1rem 1rem; 
}

#pinklogo {
    color: #e8397a;
}

.main-bg {
    background-color: #e3ebee;
}

/* Navigation */
.navbar {
    padding: 1rem 1rem;
}

.navbar ul a {
    color: #1a4752 !important;
    font-size: 1.3rem;
    margin-right: 35px;
}

.navbar ul a:hover {
    color: #e8397a !important;
    text-decoration: underline;
}

.nav-link.active {
    color: #bc3063 !important;
    text-decoration: underline;
}

.logged-in-name {
    color: #3c7278 !important;
    font-size: 1.3rem !important;
    margin: 0px !important;
}

/* Home page */

.signup-button {
    background-color: #bc3063 !important;
    border-color: #d1356e !important;
    border-radius: 18px !important;
    margin-left: 10px;
}

.signup-button:hover {
    background-color: #00aab2 !important;
    border-color: #00aab2 !important;
}

.signup-area {
    background-color: #fff !important;
    padding: 20px;
}

.main-heading {
    font-size: 2.7rem;
}

h2 {
    font-size: 2.2rem;
}

.icons-heading {
    font-size: 1.8rem;
    color: #009298;
}

.icons-text {
    font-size: 1.4rem;
}

.line-break {
    border-top: 5px solid #628389;
    margin: auto !important;
}

i {
    color: #00aab2;
    margin-right: 20px;
}

/* Provider list view page */

.card-header {
    background-color: #1a4752 !important;
    color: #fff !important;
}

.list-view-provider {
    background-color: #eaf0f3;
}

.provider-details-button {
    background-color: #1a4752 !important;
    border-color: #1a4752 !important;
    border-radius: 12px !important;
}

.provider-details-button:hover {
    background-color: #00aab2 !important;
    border-color: #00aab2 !important;
}

.page-link {
    background-color: #00aab2 !important;
    border-color: #00aab2 !important;
    border-radius: 12px !important;
    color: #fff !important;
}

/* Provider detail view page */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 40%;
    background-color: #00aab2;
}

.business-name {
    margin-top: 8%;
    margin-left: 5%;
    font-size: 2.8rem;
}

.provider-details {
    margin-left: 5%;
    color: #d8e3e7;
}

.provider-topsection {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.topsection-text {
    background-color: #628389;
    color: white;
    position: relative;
}

.topsection-image {
    position: relative;
    overflow: hidden;
}

.topsection-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #628389;
    z-index: 100;
}

/* Care Provider sign up Section */

.signup-btn {
    background-color: #1a4752;
    color: #fff;
    margin-top: 20px;
}

.signup-btn:hover,
.signup-btn:active {
    background-color: #1a4752;
    color: #fff;
}

/* Buttons Section */

.btn-signup {
    background-color: #1a4752;
    color: #fff;
    margin-top: 20px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #1a4752;
    color: #fff;
}

.link {
    color: #00aab2;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #628389;
    text-decoration: underline;
}

.btn-like {
    color: #e8397a;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #e8397a;
    background: transparent;
    border: none;
}

/* Footer */
.footer {
    background-color: #1a4752;
    font-size: 1.2rem;
    color: #d8e3e7
}

.social-icon {
    color: #d8e3e7 !important;
    margin-left: 20px !important;
}

.social-icon:hover {
    color: #00aab2; 
}

