body {
    background-color: #e5ebee;
}

.brand {
    font-family: 'Martel', serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: #1c2d50;
}

#pinklogo {
    color: #e8397a;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #d8e3e7;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #00aab2;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #628389;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #628389;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #628389;
}

.post-link:hover,
.page-link {
    color: #e8397a;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #00aab2;
    color: #d8e3e7;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #d8e3e7;
    color: #00aab2;
}

.link {
    color: #00aab2;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #628389;
    text-decoration: underline;
}

.btn-like {
    color: #e8397a;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #e8397a;
    background: transparent;
    border: none;
}