{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Carehub</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@900&family=Source+Sans+Pro:wght@200;300&family=Work+Sans:wght@300&family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Carehub - find trusted Care fast">
    <meta name="keywords" content="care providers, care, carers, elderly care">
    <meta name="author" content="Roslyn Welch">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">care<span id="pinklogo">hub</span></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'careproviderhome' %}">Find Care</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'add_provider' %}">For Providers</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->ß
    <footer class="footer mt-auto py-3">
        <p class="footer m-0 text-center">Carehub - Search for trusted Care Providers</p>
        <p class="footer m-0 text-center">Follow us: 
            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
            aria-label="Visit us on Facebook page (opens in a new tab)"><i class="social-icon fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener"
            aria-label="Visit us on Instagram page (opens in a new tab)"><i class="social-icon fab fa-instagram"></i></a>
            <a href="https://twitter.com/" target="_blank" rel="noopener"
            aria-label="Visit us on Twitter page (opens in a new tab)"><i class="social-icon fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/" target="blank" rel="noopener"
            aria-label="Visit us on Youtube page (opens in a new tab)"><i class="social-icon fab fa-youtube"></i></a>
        </p>
    </footer>

    <!-- Script to fade messages - taken from Code Institute 'I Think Therefore I Blog' walkthrough -->
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 4000);
    </script>

    <!-- font awesome script -->
    <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
</body>

</html>