{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Care Provider list view row -->
        <div class="col-12 mt-3 left">
            {% for careprovider in careprovider_list %}
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <!-- Care Provider Image -->
                    <div class="image-container">
                        {% if "placeholder" in careprovider.provider_image.url %}
                        <img class="card-img-top"
                            src="https://res.cloudinary.com/dsuniqyyu/image/upload/v1675174805/placeholder-heart_berrzd.jpg">
                        {% else %}
                        <img class="card-img-top" src=" {{ careprovider.provider_image.url }}">
                        {% endif %}
                    </div>
                </div>
                <!-- Care Provider Details -->
                <div class="col-md-6">
                    <div class="card mb-6">
                        <div class="card">
                            <div class="card-header">
                                Business Name: {{ careprovider.business_name }}
                            </div>
                            <div class="card-body list-view-provider">
                              <h4 class="card-text">Speciality: {{ careprovider.type_of_care }}  |  Phone: {{ careprovider.phone_number }}</h4>
                              <p class="card-text">County: {{ careprovider.county }}</p>
                              <a href="{% url  'careproviderdetail' careprovider.pk %}" class="btn btn-primary provider-details-button">Care Provider Details</a>
                            </div>
                          </div>
                    </div>
                    <hr class="line-break">
                    <br>
                </div>
                {% if forloop.counter|divisibleby:1 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}
