{% extends "base.html" %}
{% block title %} CareHub | Care Providers edit details {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <br>
    <h1 class="page-title">Care Providers: Edit your business details here</h1>
    <hr class="line-break">
    <br>
    <div class="row justify-content-center ">
        {% if user.is_authenticated %}
        {% load cloudinary %}
        <div class="col-11 col-md-8 col-lg-6 mt-3">
            <!--  Add Care Provider Form -->
            <form method="post" class="mb-5" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn signup-btn">Update</button>
                <a class="btn btn signup-btn" href="{% url 'careproviderhome' %}">Cancel</a>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{%endblock%}