{% extends "base.html" %}
{% block title %} CareHub | Care Providers add details {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <br>
    {% if user.is_authenticated %}
    <div>
        <h1 class="page-title">Add your business details here</h1>
        
    </div>
    {% else %}
    <div class="lead mt-4">
        <p>To add your care provider listing, please log in. </p>
        <p>If you have not created an account yet, then please sign up
            first.</p>
        <a class="signup-button btn btn-primary btn-lg"
            href="{%  url 'account_signup' %}">Sign Up</a>
    </div>
    {% endif %}
    <br>
    <div class="row justify-content-left">
        {% if user.is_authenticated %}
        {% load cloudinary %}
        <div class="col-11 col-md-8 col-lg-6 mt-3">
            <!--  Add Care Provider Form -->
            <form method="post" class="mb-5" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn signup-btn">Submit</button>
                <a class="btn btn signup-btn" href="{% url 'careproviderhome' %}">Cancel</a>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{%endblock%}