{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="provider-topsection">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 topsection-text">
                <!-- Care Provider Business Name -->
                <h1 class="business-name">{{ post.business_name }}</h1>
                </h1>
                <!-- Care Provider Type of care-->
                <p class="provider-details">Type of Care: {{ post.type_of_care }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 topsection-image">
                <!-- The featured image  -->
                {% if "placeholder" in post.provider_image.url %}
                <img src="https://res.cloudinary.com/dsuniqyyu/image/upload/v1675174805/placeholder-heart_berrzd.jpg" width="100%">
                {% else %}
                <img src=" {{ post.provider_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Care Provider contact details -->
                <p>Address: {{ post.address_line_1 }} , {{ post.county }}</p>
                <p>Contact Name: {{ post.main_contact_name }}</p>
                <p>Phone: {{ post.phone_number }}</p>
                <p>Description: {{ post.description | safe }}</p>
                <div class="row">
                {% if request.user.is_authenticated and post.author == request.user %}
                    <div>
                        <a class="signup-button btn btn-primary btn-lg" href="{% url 'update_provider' post.pk %}"
                            aria-label="edit-provider">Edit</a>

                        <a class="signup-button btn btn-primary btn-lg" href="{% url 'delete_provider' post.pk %}"
                            aria-label="delete-provider">Delete</a>

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr class="line-break">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- Loop to iterate through each comment -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- Comment's created date -->
                            {{ comment.date_created }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment -->
                    {{ comment.comment | linebreaks }}
                </div>
                <!-- For loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- Comment awaiting approval message -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}