{% extends 'base.html' %}
{% block title %} CareHub | Home {% endblock %}
{% block content %}

<!-- Top section with image and CTA -->
<section>
    <div class="container px-2 py-3">
        <div class="row flex-md-row-reverse py-3 m-0">
            {% if user.is_authenticated %}
            <div class="col-md-5 col-lg-7 hero-text-outer text-center">
                <h1 class="mt-4 mb-2 hero-text">Welcome back to CareHub</h1>
            </div>
            {% else %}
            <div class="signup-area col-md-5 col-lg-7 hero-text-outer text-center">
                <h1 class="mt-4 mb-2 hero-text">Find trusted care for the elderly in your local area</h1>
                <div class="lead mt-4">
                    Get started here: <a class="signup-button btn btn-primary btn-lg"
                        href="{%  url 'account_signup' %}">Sign Up</a>
                </div>
            </div>
            {% endif %}
            <div class="col-md-7 col-lg-5 p-0 pl-md-5 align-self-center">
                <img src="https://res.cloudinary.com/dsuniqyyu/image/upload/v1675098592/homepage-elderly-woman-nurse-crop.jpb_ggyt6u.jpg"
                    class="img-fluid family-image" alt="elderly woman with nurse">
            </div>
        </div>
    </div>
</section>

{% endblock content %}